#include "zen.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&pointing_listener {
    input-processors =
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_temp_layer 1 500>;

    // レイヤー5: 縦スクロール用
    scroller_v {
        layers = <5>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_to_scroll_mapper>,
            <&scroll_scaler 1 28>;
        process-next;
    };

    // レイヤー6: 横スクロール用（縦の動きを横に変換）
    scroller_h {
        layers = <6>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_to_scroll_mapper>,
            <&scroll_scaler 1 28>;
        process-next;
    };
};

&zen_transform {
    col-offset = <7>;
};

// センサー（PMW3610）用の設定を追記
&trackball {
    // スピード（解像度）の調整（デフォルトから変更したい数値を入れます）
    cpi = <600>; 
    // SPI通信速度の上限を引き上げて読み取りを滑らかにする
    spi-max-frequency = <2000000>;
};
